#startup {
    .top {
        background-image: url(../img/startup-top-bg.jpg); 
    }
}

.form {
    padding: 100px 0 0 0;
    h3 {
        margin-bottom: 50px; 
        font-size: 27px;   
    }

    h4 {
        margin-bottom: 50px; 
        font-size: 18px;
        color: $textGrey;   
    }
}

//CTA Section

.cta-big {
    .hover-bg {
        &:hover {
            background: none;
        }
    }
}


//Criteria

.criteria {
    padding: 100px 0 0 0;
    h2 {
        margin-bottom: 50px;    
    }
    li {
        margin-bottom: 25px;
        line-height: 1.9;
        color: $textGrey;
        font-weight: 300;
        list-style-image: url(../img/checked.png);
    }
    .info {
        margin-top: -20px;
        p {
            font-size: 14px;
            color: $textGrey;
            font-weight: 300;
            line-height: 1.5;
        }

        i {
            font-size: 25px;
            padding: 12px 20px;
            border-radius: 50%;
            border: 1px solid $textGrey;
            display: inline-block;
            margin-bottom: 25px;

            color: $textGrey;
            opacity: .3;
        }
    }
}